body{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:whitesmoke;
    color:#333745;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
#drum-machine{
    border:2px solid orangered;
    height:60vh;
    width: 75vh;
    border-radius: 10px;
    background-color: white;
    padding:5px;
    box-shadow: 0px 3px 3px 3px #333;
}
.header{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding:10px 20px 10px 20px;
   font-family: 'Audiowide', 'Verdana' ;
   font-size:4vh;
   background-color: #999;
   box-shadow: 3px 3px 5px black;
   border-radius:5px;
}