html{
     box-sizing: border-box;
    }
body{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(110deg, #D0D1AC 50%, #948B89 50%);
    color:#333745;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    box-sizing: border-box;
}
#drum-machine{
    height:60vh;
    width: 75vh;
    background-color: lightgray;
    padding:10px;
    box-shadow: 0px 3px 3px 3px #333;
    border-top: 10px solid #333;
    border-bottom: 10px solid #333;
}
.header{
   height: 60px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding:10px;
   font-family: 'Bebas Neue', Verdana;
   font-size:6vh;
   background-color: #999;
   color:whitesmoke;
   margin-bottom: 10px;
   border-top: 5px solid rosybrown;
   border-bottom: 5px solid rosybrown;
}
.controlDrum{
    display: flex;
    width:150px;
    height: 260px;
    padding:5px;
    margin:5px;
    flex-direction: column;
    justify-content: flex-start;
    border:2px solid gray;
    border-bottom: 2px solid red;
}

#display{
    height:50px;
    width: 150px;
    margin-top: 5px;
    background-color: #252525;
}

button{
    width:40px;
    height: 40px;
    font-size:30px;
    border:none;
    background-color:yellowgreen;
    border-radius:50%;
    margin:5px;
    box-shadow: 0px 3px 3px black;
}
button:hover{
    cursor:pointer;
    background-color:gray;
}